/* Chart styles  */

.chart-container{
    padding: 0 5px 15px 0px;
    height: 200px;

}
.chart-item{
    border: 1px solid #fdae6465;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}
.chart-heading{
    text-align: center;
    margin-top: 0;
}
.charts{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}